.cart-page{
    margin: 150px 100px;
}

.item-desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1px solid grey;
    border-radius: 15px;
}

.item-desc .firstdiv{
    padding: 15px;
    font-weight: 700;
    width: 25%;
}

.item-desc .seconddiv{
    padding: 55px 0px;
    font-weight: 700;
    width: 50%;
}

.item-desc .thirddiv{
    padding: 25px;
    width: 5%;
    text-align: center;
}

.SubTotal{
    text-align: end;
    text-align: end;
    margin-right: 25px;
    margin-top: 20px;
    font-weight: 700;
}