.product-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
}

.product-div .products{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-right: 15px;
    height: 400px;
    margin-bottom: 25px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    padding: 5px;
}

.product-div .products .title{
    font-size: 20px;
    font-weight: 700;
    color: rgb(40, 43, 49);
    margin: 10px 0px;
}

.product-div .products p{
    margin: 10px 0px;
    font-size: 13px;
    color: gray;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-div .products .cart-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    margin-top: 20px;
    width: 70%;
}



.product-div .products .cart-div button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.product-div .products .cart-div button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.product-div .products .cart-div button:hover {
  background-color: #2c974b;
}

.product-div .products .cart-div button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.product-div .products .cart-div button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.product-div .products .cart-div button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}